<div class="flex items-center justify-center h-screen bg-slate-100">
  <div
    class="flex flex-col sm:flex-row sm:justify-between gap-4 w-max-2/3 rounded-md border p-4 bg-slate-50 shadow-md"
  >
    <div class="flex justify-center">
      <figure>
        <img
          [src]="user.avatar_url"
          class="w-36 h-36 rounded-md"
          alt="avatar"
        />
      </figure>
    </div>
    <div>
      <div class="text-lg">
        <p class="text-slate-600 font-bold">
          ID:
          <span class="ml-2 text-slate-400">{{ user.id }}</span>
        </p>
        <p class="text-slate-600 font-bold">
          Login:
          <span class="ml-2 text-slate-400">{{ user.login }}</span>
        </p>
        <p class="text-slate-600 font-bold">
          URL:
          <span class="ml-2 text-slate-400">{{ user.url }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
